# Web Scraping e Análise Exploratória de Dados

### Web Scraping com Selenium

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import json
import lxml.html as lh
from selenium import webdriver
from selenium.webdriver.firefox.options import Options

In [2]:
# acessando a pagina 
url = "https://globoesporte.globo.com/futebol/brasileirao-serie-a/"
option = Options()
option.headless = True
driver = webdriver.Firefox(options=option)
driver.get(url)
driver.implicitly_wait(10)

In [3]:
# Obtendo a 1ª tabela com os nomes dos times
element = driver.find_element_by_xpath('//*[@id="classificacao__wrapper"]/article/section[1]/div/table[1]')
html_content = element.get_attribute('outerHTML')

soup = BeautifulSoup(html_content, 'html.parser')
html_time_names= soup.find(name='table')
df_time_names = pd.read_html(str(html_time_names))[0]
time_names = df_time_names['Classificação.1'].values

# print do nome dos clubs
print(time_names)

['FlamengoFLA' 'InternacionalINT' 'Atlético-MGCAM' 'São PauloSAO'
 'FluminenseFLU' 'GrêmioGRE' 'PalmeirasPAL' 'SantosSAN' 'Athletico-PRCAP'
 'BragantinoBGT' 'CearáCEA' 'CorinthiansCOR' 'Atlético-GOACG' 'BahiaBAH'
 'SportSPT' 'FortalezaFOR' 'VascoVAS' 'GoiásGOI' 'CoritibaCFC'
 'BotafogoBOT']

In [4]:
# Obtendo a 2ª tabela com os valores de cada time
element1 = driver.find_element_by_xpath('//*[@id="classificacao__wrapper"]/article/section[1]/div/table[2]')
html_content1 = element1.get_attribute('outerHTML')

soup = BeautifulSoup(html_content1, 'html.parser')
html_time_data= soup.find(name='table')

df_time_data1 = pd.read_html(str(html_time_data))[0]
df_time = df_time_data1[['P', 'J', 'V', 'E', 'D', 'GP', 'GC', 'SG', '%']]
df_time['Clubs'] = time_names
df_time['Classificação'] = range(1,21)
df_br = df_time[['Classificação','Clubs','P', 'J', 'V', 'E', 'D', 'GP', 'GC', 'SG', '%']]

### Análise Exploratória

In [5]:
# Tabelas de classificação Brasileirão 2020
df_br.set_index('Classificação')

                          Clubs   P   J   V   E   D  GP  GC  SG     %
Classificação
1                   FlamengoFLA  71  38  21   8   9  68  48  20  62.3
2              InternacionalINT  70  38  20  10   8  61  35  26  61.4
3                Atlético-MGCAM  68  38  20   8  10  64  45  19  59.6
4                  São PauloSAO  66  38  18  12   8  59  41  18  57.9
5                 FluminenseFLU  64  38  18  10  10  55  42  13  56.1
6                     GrêmioGRE  59  38  14  17   7  53  40  13  51.8
7                  PalmeirasPAL  58  38  15  13  10  51  37  14  50.9
8                     SantosSAN  54  38  14  12  12  52  51   1  47.4
9               Athletico-PRCAP  53  38  15   8  15  38  36   2  46.5
10                BragantinoBGT  53  38  13  14  11  50  40  10  46.5
11                     CearáCEA  52  38  14  10  14  54  51   3  45.6
12               CorinthiansCOR  51  38  13  12  13  45  45   0  44.7
13               Atlético-GOACG  50  38  12  14  12  40  45  -5  43.9
14                     BahiaBAH  44  38  12   8  18  48  59 -11  38.6
15                     SportSPT  42  38  12   6  20  31  50 -19  36.8
16                 FortalezaFOR  41  38  10  11  17  34  44 -10  36.0
17                     VascoVAS  41  38  10  11  17  37  56 -19  36.0
18                     GoiásGOI  37  38   9  10  19  41  63 -22  32.5
19                  CoritibaCFC  31  38   7  10  21  31  54 -23  27.2
20                  BotafogoBOT  27  38   5  12  21  32  62 -30  23.7

In [6]:
# Descrição dos dados considerando exceto coluna: "Classificação "
df_br.iloc[:,1:].describe()

,P,J,V,E,D,GP,GC,SG,%
count,20.000000,20.0,20.000000,20.000000,20.000000,20.00000,20.000000,20.000000,20.000000
mean,51.600000,38.0,13.600000,10.800000,13.600000,47.20000,47.200000,0.000000,45.270000
std,12.713027,0.0,4.309109,2.587419,4.604346,11.34437,8.401754,16.685954,11.143849
min,27.000000,38.0,5.000000,6.000000,7.000000,31.00000,35.000000,-30.000000,23.700000
25%,41.750000,38.0,11.500000,9.500000,10.000000,37.75000,40.750000,-13.000000,36.600000
50%,52.500000,38.0,13.500000,10.500000,12.500000,49.00000,45.000000,1.500000,46.050000
75%,60.250000,38.0,15.750000,12.000000,17.250000,54.25000,51.750000,13.250000,52.875000
max,71.000000,38.0,21.000000,17.000000,21.000000,68.00000,63.000000,26.000000,62.300000

In [7]:
# Melhores ataques
df_br_ataque = df_br[df_br['GP'] > df_br['GP'].mean()]
df_br_ataque = df_br_ataque[['Clubs', 'GP']]
df_br_ataque.index=range(1,len(df_br_ataque)+1)
df_br_ataque[0:3]

              Clubs  GP
1       FlamengoFLA  68
2  InternacionalINT  61
3    Atlético-MGCAM  64

In [8]:
# Piores defesas 
df_br_ataque = df_br[df_br['GC'] > df_br['GC'].mean()]
df_br_ataque = df_br_ataque[['Clubs', 'GC']]
df_br_ataque.index=range(1,len(df_br_ataque)+1)
df_br_ataque[0:]

         Clubs  GC
1  FlamengoFLA  48
2    SantosSAN  51
3     CearáCEA  51
4     BahiaBAH  59
5     SportSPT  50
6     VascoVAS  56
7     GoiásGOI  63
8  CoritibaCFC  54
9  BotafogoBOT  62